---
import Layout from "../layouts/Layout.astro";

const postList = await Astro.glob("../pages/posts/*.md");

const postOrdenados = postList.sort(
  (a, b) => b.frontmatter.id - a.frontmatter.id
);

const numPost = postList.length;
---

<Layout title="Sebastián BlogSite 🌎">
  <main class="max-w-7xl w-[80%] mb-32">
    <div class="flex flex-row justify-between mt-6 md:mt-16">
      <h1
        class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-4xl"
      >
        <span
          class="text-transparent text-xl lg:text-3xl bg-clip-text bg-gradient-to-r from-[#F3AF42] to-[#bd2e2e]"
        >
          Artículos Publicados:
        </span>
      </h1>
      <h1
        class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-4xl"
      >
        <span
          class="text-transparent text-xl lg:text-3xl bg-clip-text bg-gradient-to-r from-[#F3AF42] to-[#bd2e2e]"
        >
          {numPost}
        </span>
      </h1>
    </div>
    <div class="mb-16">
      {
        postOrdenados.map((post) => (
          <div class="">
            <a href={post.url}>
              <article class="overflow-hidden rounded my-4 shadow-xl">
                <div class="sm:flex sm:flex-wrap">
                  <div class="sm:w-1/2 h-32 sm:h-auto relative">
                    <img
                      class="w-full h-full absolute inset-0 object-cover"
                      src={post.frontmatter.image.url}
                      alt={post.frontmatter.image.alt}
                    />
                  </div>
                  <div class="sm:w-1/2 p-4 bg-gradient-to-r from-[#505050] to-[#353535] hover:bg-opacity-25 flex flex-col justify-between">
                    <div>
                      <h4 class="text-sm md:text-2xl font-semibold capitalize text-white-800 mt-2">
                        {post.frontmatter.title}
                      </h4>
                      <p class="text-gray-400 md:mt-1 text-pretty text-sm md:text-base overflow-hidden whitespace-normal line-clamp-3">
                        {post.frontmatter.description}
                      </p>
                      <span class="flex flex-wrap mt-1">
                        {post.frontmatter.tags.map((tag: string) => (
                          <span class="bg-gray-100 text-gray-800 text-xs font-medium me-1 px-2 py-0.5 my-0.5 rounded opacity-90 dark:bg-gray-700 dark:text-gray-300">
                            #{tag}
                          </span>
                        ))}
                      </span>
                    </div>
                    <div class="flex items-center mt-10">
                      <img
                        class="h-10 w-10 object-cover rounded"
                        src={post.frontmatter.userImage}
                        alt="image"
                      />
                      <div class="pl-3 text-sm text-gray-600">
                        <p class="truncate text-gray-300">
                          {post.frontmatter.user}
                        </p>
                        <time class="text-xs text-gray-400">
                          {post.frontmatter.pubDate}
                        </time>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
